:root {
  margin: 0;
  display:flex;
  place-content: center;
  place-items: center;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Audiowide";
  color-scheme: light dark;
  color: #000;
  background-color: linear-gradient(45deg, #ffcc00, #ff6600);

}

.mouse-trail{
  position: absolute;
  width: 20px;
  height: 20px;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  background-color: red;
  pointer-events: none;
  animation: fade 0.5s linear forwards;
}

@keyframes fade{
  100%{
    opacity: 0;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  width: 100%;
  margin: 0;
  place-items: center;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
  background: hsla(48, 100%, 50%, 1);
  
  background: radial-gradient(circle, hsla(48, 100%, 50%, 1) 16%, hsla(24, 100%, 50%, 1) 80%);

  background: -moz-radial-gradient(circle, hsla(48, 100%, 50%, 1) 16%, hsla(24, 100%, 50%, 1) 80%);

  background: -webkit-radial-gradient(circle, hsla(48, 100%, 50%, 1) 16%, hsla(24, 100%, 50%, 1) 80%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFCC00", endColorstr="#FF6600", GradientType=1 );
  

}

.header{
  background-color: #ff0000;
  color: #fff;
  padding: 10px;
}

.header h1{
  position: relative;
  display: inline-block;
  animation: glitch 1s infinite;
  margin:0;
  font-size: 80px;
  font-family: "VT323";
}

@keyframes glitch {
  0%{
    text-shadow: 5px 5px blue, -5px -5px green;
  }
  50%{
    text-shadow: -5px -5px green;
  }
  100%{
    text-shadow: 5px -5px blue, -5px 2px green;
  }
}

.header span{
  font-size: 18px;
}

marquee{
  font-size: 25px;
  background-color: #000;
  color: #fff;
  padding: 5px;
  
}

nav{
  margin: 10px;
  /* background-color: #fff; */
  padding: 15px;
  /* border: 2px solid #000; */
}

nav button{
  margin: 15px;
  border: 2px solid #ff0000;
  border-radius: 0;
  color:#000;
  text-decoration: none;
  padding: 5px 10px;
  transition: transform 0.2s ease-in-out;
}

nav button:hover{
  transform: scale(1.2);
  color: red;
  background-color: #000;
  border: 2px solid #ff0000;
}

.content table{
  margin: 20px auto;
  /* border-collapse: collapse; */
}

tbody{
display: flex;
justify-content: center;
flex-wrap: wrap;
padding: 5px;
}

td img{
  width: 150px;
  height: 200px;
  border: 5px solid #000;
  transition: transform 0.3s ease-in-out;
}
td img:hover{
  transform: rotate(5deg) scale(1.1);
}

td h3{
  font-size: 16px;
}

td p{
  font-size: 16px;
  margin: 5px 0;
  font-family: "Coming Soon";
}
td{
  width: 260px;
  height: 250;
  margin: 20px;
  padding: 10px;
  border: 5px solid black;
}

.topten{
  display: flex;
  border: none;
}

footer{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 12px;
  color: #fff;
}

.blink{
  animation: blink 1s step-start infinite;
}

@keyframes blink{
  50%{
    opacity: 0;
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
